.card-container {
  width: 98%;
  display: grid;
  grid-template-columns: 48% 48%;
  column-gap: 4%;
  margin: 70px auto;
  .card {
    height: 100%;
    width: 100%;

    h1 {
      text-align: center;
      cursor: none;
      &:hover {
        transform: translateY(-15%);
        transition: 200ms;
      }
    }

    img {
      width: 100%;
      height: 70%;
      object-fit: fill;
      border-radius: 20px;
      border: 1px solid black;
      cursor: none;
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.4);

      &:hover {
        transform: scale(110%, 110%);
        transition: 200ms;
      }
    }
  }

  @media screen and (max-width:768px) {
    display: block;
  }
}